*.o
M03/ex01/scavtrap
M03/ex00/claptrap
M03/ex02/fragscavtrap
M03/ex03/diamond
M07/ex02/array_template
M09/ex01/RPN
M01/ex01/zombiehorde
M02/ex01/fixed1
M04/ex01/cats_and_dogs_with_brains
M04/ex03/materia
M07/ex00/template_functions
M09/ex02/a.out
M09/ex02/PmergeMe
M09/ex02/pseudo.txt
